* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b1120;
  color: #e2e8f0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar a {
  color: #94a3b8;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

/* SECTIONS */
section {
  padding: 100px 20px;
  text-align: center;
}

/* HOME */
.profile-img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.tagline {
  color: #94a3b8;
}

.desc {
  max-width: 500px;
  margin: auto;
  color: #94a3b8;
}

/* CARD */
.card {
  background: #020617;
  border: 1px solid #1e293b;
  padding: 40px;
  max-width: 600px;
  margin: auto;
  border-radius: 12px;
}

/* PROJECTS */
.projects {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.project-card {
  width: 260px;
  padding: 20px;
  background: #020617;
  border-radius: 12px;
  border: 1px solid #1e293b;
  transition: 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

/* GALLERY */
.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding: 50px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* BUTTON */
a, button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  border: 1px solid #334155;
  border-radius: 6px;
  color: #e2e8f0;
  text-decoration: none;
  background: transparent;
}
