* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

body {
  background: #0f172a;
  color: #e2e8f0;
}

/* NAV */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #020617;
  border-bottom: 1px solid #1e293b;
}

.navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: #94a3b8;
  text-decoration: none;
}

.navbar a:hover {
  color: #38bdf8;
}

/* HOME */
.home {
  text-align: center;
  padding: 100px 20px;
}

.profile-img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.tagline {
  color: #38bdf8;
}

/* CARD */
.card {
  background: #020617;
  padding: 40px;
  border-radius: 12px;
  max-width: 500px;
  margin: auto;
  border: 1px solid #1e293b;
}

/* PROJECTS */
.projects {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
}

.project-card {
  width: 250px;
  background: #020617;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #1e293b;
  text-align: center;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-card:hover {
  border-color: #38bdf8;
}

/* GALLERY */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px;
}

.gallery-card {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #1e293b;
}

.gallery-card img {
  width: 100%;
  transition: 0.3s;
}

.gallery-card:hover img {
  transform: scale(1.05);
}
